#about {
    padding: 80px 0px;

    .about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;

        .img-video {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .about-img,
            .about-video {
                width: 260px;
                max-width: 260px;
                height: 500px;

            }

            .about-img {
                background-image: url("../image/portrait-of-young-woman-doctor-at-hospital-corrido-SGSBYGP.jpg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                border-radius: 30px;
                padding: 20px 0px;

                .check {
                    padding: 10px 20px;
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    border-radius: 10px;
                }

            }

            .about-video {
                position: relative;
                background-image: url("../image/doctors-discussing-something-at-hospital-corridor-5HAKCZZ.jpg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin-top: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;

                .close-btn {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    cursor: pointer;
                }

                i {
                    font-size: 70px;
                    cursor: pointer;
                    color: white;
                    position: absolute;

                    &:hover {
                        color: $color1;
                        transition: all 1s ease;
                    }
                }
            }
        }

        .about-text {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h4 {
                font-size: 15px;
                color: $color4;
                font-weight: 700;
            }

            h2 {
                font-size: 3vw;
            }

            .txt {
                display: flex;
                justify-content: flex-start;
                gap: 20px;

                div {
                    width: 270px;
                }
            }
        }

        a {
            width: 150px;
            display: flex;
            justify-content: center;
            padding: 10px 18px;
            color: white;
            background-color: $color1;
            border-radius: 25px;

            &:hover {
                transition: all 1s ease;
                overflow: hidden;
                scale: 1.1;
            }
        }
    }
}

.modal {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsl(0, 0%, 0%, 0.6);

    .bi-x-lg {
        position: absolute;
        right: 20px;
        font-size: 30px;
        color: white;
        top: 20px;
    }
}

@media screen and (max-width:1200px) {
    #about {
        .about {
            .img-video {

                .about-img,
                .about-video {
                    width: 200px;
                }
            }
        }
    }
}

@media screen and (max-width:995px) {
    #about {
        .about {

            .about-text {
                width: 400px;
            }
        }
    }
}

@media screen and (max-width:820px) {
    .container {
        padding: 0px 20px;
    }

    #about {
        .about {
            flex-direction: column;

            .img-video {
                .about-img,
                .about-video {
                    width: 300px;
                }
            }

            .about-text {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width:645px) {
    #about {
        .about {
            .img-video {
                flex-direction: column;

                .about-img,
                .about-video {
                    max-width:530px;
                    height: 400px;
                }
            }

            .about-text {
                .txt {
                    flex-direction: column;
                }
            }
        }
    }
}