#about {
    padding: 80px 0px;

    .about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;

        .about-img,
        .about-video {
            width: 300px;
            height: 500px;

        }
          .about-img{
            background-image:url("../image/portrait-of-young-woman-doctor-at-hospital-corrido-SGSBYGP.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            border-radius: 30px;
            padding: 20px 0px;
            div{
                padding: 10px 20px;
                background-color: white;
                display: flex;
                gap: 5px;
                border-radius: 10px;
            }

          }
        .about-video {
            background-image: url("../image/doctors-discussing-something-at-hospital-corridor-5HAKCZZ.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;


            i {
                font-size: 70px;
                cursor: pointer;
                color: white;
                &:hover{
                    color: $color1;
                    transition: all 1s ease;
                }
            }
        }

        .about-text {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h4 {
                font-size: 15px;
                color: $color1;
            }

            h2 {
                font-size: 45px;
            }

            .txt {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;

                div {
                    width: 270px;
                }
            }
        }

        a {
            width: 150px;
            display: flex;
            justify-content: center;
            padding: 10px 18px;
            color: white;
            background-color: $color1;
            border-radius: 25px;

            &:hover {
                transition: all 1s ease;
                overflow: hidden;
                scale: 1.1;
            }
        }
    }
}