#accordion{
    padding: 50px 0px;
    .accordion{
        display: flex;
        justify-content: space-between;
       
        .accordion-img{
            width: 50%;
            height: 600px;
            img{
                border-radius: 20px;
            }
        }
        .accordion-text{
            width: 46%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                #accordion-item{
                    width: 100%;
                }
            }
          
        }
    }
}

@media screen and (max-width:810px) {
    #accordion{
        .accordion{
            .accordion-img{
                width: 40%;
            }
        }
    }
}
@media screen and (max-width:680px) {
    #accordion{
        .accordion{
            flex-direction: column;
            gap:20px;
               .accordion-img, .accordion-text{
                width: 100%;
               }
        }
    }
}