#blog {
    padding: 50px 0px;

    .blog {
        display: flex;
        flex-direction: column;
        gap: 40px;
        .basliq {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .yazi {
                font-size: $fontSize2;
                a{
                    font-size: 20px;
                }
            }

            a {
                background-color: $color1;
                padding: 10px 20px;
                color: white;
                font-weight: bold;
                border-radius: 18px;

            }

        }

        .cards {
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            img,h6 , h3{
                cursor: pointer;
            }
            h3{
                font-size: 18px;
                font-weight: bold;
            }
            h6{
                color: $color1;
                font-size: 14px;
            }
            p{
                opacity: .7;
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width:1200px) {
    #blog{
        .blog{
           .cards{
            gap: 20px;
           }
        }
    }
}

@media  screen and (max-width:1000px) {
    #blog{
        .blog{
           .cards{
            flex-wrap: wrap;
           }
        }
    }
}

@media  screen and (max-width:969px) {
    #blog{
        .blog{
           .cards{
               display: flex;
               justify-content: center;
           }
        }
    }
}

@media  screen and (max-width:550px) {
    #blog{
        .blog{
           .basliq{
            flex-direction: column;
           }
        }
    }
}