#card {
    padding: 80px 0px;
    border-top: 1px solid gray;

    .card {
        border: none;
        display: flex;
        flex-direction: column;

        h2 {
            font-size: $fontSize2;
            font-weight: bold;
        }

        h6 {
            color: $color4;
            font-weight: bold;
        }

        .card-element {
            display: grid;
            grid-template-columns: repeat(3, auto);
            gap: 20px;

            .item {
                width: 380px;
                padding: 40px;
                background-color: $color2;
                border-radius: 20px;
                height: 330px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 15px;

                &:hover {
                    border: 1px solid $color1;
                    transition: all .3s;
                }

                .bi-cart4 {
                    font-size: 20px;
                    background-color: $color1;
                    width: 50px;
                    height: 100px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                }

                .card-img {
                    background-color: white;
                    width: 80px;
                    height: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;

                    img {
                        border-radius: 50%;
                    }
                }

                p {
                    font-size: $fontSize1;
                    opacity: .7;
                }
            }
        }
    }
}

@media screen and (max-width:1275px) {
    #card {
        .card {
            .card-element {
                grid-template-columns: repeat(2, auto);
                justify-content: flex-start;

                .item {
                    width: auto;
                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    #card {
        .card {
            .card-element {
                grid-template-columns: auto;
            }
        }
    }
}