#doctor {
    padding: 50px 0px;

    .doctor {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        #dr-img {
            display: grid;
            grid-template-columns: repeat(4, auto);

            .dr-img {
                position: relative;

                .sekil {
                    img {
                        opacity: 1;
                        border-radius: 20px;
                        -webkit-transition: .3s ease-in-out;
                        transition: .3s ease-in-out;
                    }

                    // &:hover img {
                    // background: #1abc9c;

                    //     cursor: pointer;
                    //     opacity: .5;
                    // }
                }

                .none {
                    position: absolute;
                    top: 150px;
                    right: 50%;
                    display: flex;
                    justify-content: space-around;
                    gap: 10px;

                    i {
                        color: $color1;
                        font-size: 20px;
                    }

                }
            }
        }
    }
}


@media  screen and (max-width:1157px) {
    #doctor{
      .doctor{
          #dr-img{
              grid-template-columns: auto auto auto;
          }
      }
    }
  }
  @media  screen and (max-width:857px) {
    #doctor{
      .doctor{
          #dr-img{
              grid-template-columns: auto auto;
          }
      }
    }
  }
@media  screen and (max-width:550px) {
  #doctor{
    .doctor{
        #dr-img{
            grid-template-columns: auto;
        }
    }
  }
}