#doctor {
    padding: 50px 0px;

    .doctor {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        h6 {
            font-size: $fontSize1;
            font-weight: bold;
            color: $color4;
        }

        h2 {
            font-weight: bold;
        }
    }
}

#name {
    .name {
        .basliq {
            width: 100%;
            height: 380px;
            background-color: $color2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 50px 0 0 0;
            position: relative;
            text-align: center;

            h2 {
                font-size: $fontSize3;
            }
        }

        #all-blog {

            .all-blog {
                display: flex;
                justify-content: space-between;
                gap: 50px;

                .blog-text {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    >div {
                        padding: 0 0 0 10px;
                        width: 350px;
                        height: 80px;
                        background-color: $color2;
                        display: flex;
                        justify-content: flex-start;
                        gap: 15px;
                        align-items: center;
                        border-radius: 20px;

                        // #blog-img-info {
                        //     max-width: 400px;
                        // }

                        .info-img {
                            max-width: 100px;
                            border-radius: 50%;
                            img{
                             border-radius: 50%;
                            }
                        }
                        h4{
                            cursor: pointer;
                           a{
                            color: black;
                            transition: all 1s ease;
                            &:hover{
                                color: #4851d5;
                            }
                           }
                           &:hover{
                            color: #4851d5;
                        }
                        }
                    }
                }
            }
        }

        .name-txt {
            padding: 50px 0;
        }
    }
}

@media screen and (max-width:1205px) {
    #name {
        .name {
            #cards {
                .cards {
                    grid-template-columns: repeat(2, auto);
                }
            }

        }
    }
}

@media screen and (max-width:950px) {
    #name {
        .name {
            #name-txt {
                .name-txt {
                    #dr-img-detail {
                        .dtl {
                            flex-direction: column;

                            .detail-img {
                                width: 100%;
                                height: 600px;
                            }

                            .detail-info {
                                width: 100%;
                            }
                        }
                    }
                }
            }

        }
    }
}

@media screen and (max-width:920px) {
    #name {
        .name {
            .collectivimg {
                width: 800px;
            }
        }
    }
}

@media screen and (max-width:850px) {
    #all-blog{
        .all-blog{
            flex-direction: column-reverse;
        }
    }
}

@media screen and (max-width:660px) {
    #name {
        .name {
            .collectivimg {
                width: 500px;
            }

            #cards {
                .cards {
                    grid-template-columns: auto;
                }
            }
        }
    }
}

@media screen and (max-width:400px) {
    #name {
        .name {
            #name-txt {
                .name-txt {
                    #dr-img-detail {
                        .dtl {
                            .detail-img {
                                width: 100%;
                                height: 400px;
                            }
                        }
                    }
                }
            }

        }
    }
}