#doctor {
    padding: 50px 0px;

    .doctor {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        h6 {
            font-size: $fontSize1;
            font-weight: bold;
            color: $color4;
        }

        h2 {
            font-weight: bold;
        }
    }
}

#name {
    .name {
        .basliq {
            width: 100%;
            height: 380px;
            background-color: $color2;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 50px 0 0 0;
            position: relative;
            text-align: center;

            h2 {
                font-size: $fontSize3;
            }
        }

        .collectivimg {
            width: 1200px;
            height: 400px;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
        }

        .name-txt {
            padding: 200px 0 50px 0;
        }
        #cards{
            .cards{
                .card{
                    max-width: 400px;
                }
            }
        }
    }
}

@media screen and (max-width:1205px) {
    #name {
        .name {
            .collectivimg {
                width: 1000px;
            }

            #cards {
                .cards {
                    grid-template-columns: repeat(2, auto);
                }
            }

        }
    }
}

@media screen and (max-width:950px) {
    #name {
        .name {
            #name-txt {
                .name-txt {
                    #dr-img-detail {
                        .dtl {
                            flex-direction: column;

                            .detail-img {
                                width: 100%;
                                height: 600px;
                            }

                            .detail-info {
                                width: 100%;
                            }
                        }
                    }
                }
            }

        }
    }
}

@media screen and (max-width:920px) {
    #name {
        .name {
            .collectivimg {
                width: 800px;
            }
        }
    }
}

@media screen and (max-width:660px) {
    #name {
        .name {
            .collectivimg {
                width: 500px;
            }
              #cards {
                .cards {
                    grid-template-columns:auto;
                }
            }
        }
    }
}

@media screen and (max-width:400px) {
    #name {
        .name {
            #name-txt {
                .name-txt {
                    #dr-img-detail {
                        .dtl {
                            .detail-img {
                                width: 100%;
                                height: 400px;
                            }
                        }
                    }
                }
            }

        }
    }
}