footer {
    padding: 30px 0px;
    background-color: $color1;
    border-top: 1px solid gray;
    color: white;

    .end {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}