#footer {
    padding: 50px 0px;
    background-color: $color1;

    .footer {
        display: flex;
        flex-direction: column;
        color: white;
        gap: 50px;

        .footer-one {
            display: grid;
            grid-template-columns: repeat(4, auto);

            .item {
                >div {
                    width: 200px;
                }

                li {
                    list-style-type: none;
                    cursor: pointer;
                }

                .icons {
                    display: flex;
                    gap: 10px;

                    i {
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        pad: 5px;
                        border: 1px solid gray;
                        cursor: pointer;

                        &:hover {
                            color: $color1;
                            background-color: white;
                            transition: all 1s ease;
                        }
                    }
                }
            }
        }

        .footer-two {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;

            >div {
                display: flex;
                justify-content: space-around;
                gap: 40px;
            }

            input[type="text"] {
                width: 400px;
                height: 50px;
                border-radius: 40px;
                padding: 0 0 0 20px;
                outline: none;
                border: none;
            }

            a {
                background-color: black;
                color: white;
                font-size: 18px;
                width: 150px;
                height: 50px;
                padding: 10px;
                border-radius: 40px;
                display: flex;
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width:1248px) {
    #footer {
        .footer {
            .footer-one {
                grid-template-columns: repeat(3, auto);
            }
        }
    }
}

@media screen and (max-width:1063px) {
    #footer {
        .footer {
            .footer-one {
                grid-template-columns: repeat(2, auto);
                gap: 20px;
            }
        }
    }
}

@media screen and (max-width:610px) {
    #footer {
        .footer {

            .footer-one {
                grid-template-columns: auto;
                gap: 20px;

                #item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    p{
                        text-align: center;
                    }
                }
            }
            .footer-two{
                input[type="text"]{
                    width: 300px;
                }
            }
        }
    }
}
@media screen and (max-width:505px) {
 #footer{
    .footer{
        .footer-two{
           
           
            >div{ flex-direction: column;}
        }
    }
 }
}