#appointment {
    padding: 50px 0px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

    .appointment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        .appointment-img {
            width: 40%;
            height: 600px;

            img {
                border-radius: 30px;
            }
        }

        .appointment-text {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 30px;

            h4 {
                font-size: $fontSize1;
            }

            h2 {
                font-size: $fontSize2;
            }

            p {
                opacity: .7;
            }

        }
    }
}

@media screen and (max-width:785px) {
    #appointment {
        .appointment {
            flex-direction: column;

            .appointment-img,
            .appointment-text {
                width: 100%;
            }
            .appointment-img{
                height: 400px;
            }
        }
    }
}