#dr {
    background-color: $color1;
    padding: 90px 0;

    .dr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .dr-text {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 55%;
            color: white;

            h1 {
                font-size:3.5vw;
            }
            h4{
                font-size: 14px;
            }
            div {
                display: flex;
                justify-content: flex-start;
                gap: 20px;

                .button2,
                .button3 {
                    display: flex;
                    justify-content: center;
                    width: 150px;
                    padding: 10px 18px;
                    color: white;
                    border-radius: 25px;

                    &:hover {
                        transition: all 1s ease;
                        overflow: hidden;
                        scale: 1.1;
                    }
                }

                .button2 {
                    background-color: white;
                    color: black;
                }

                .button3 {
                    background-color: $color1;
                    border: 1px solid gray;
                }
            }
        }
        .dr-img{
            margin:-70px 0 ;
            width: 40%;
            position: absolute;
            right: 0;
            bottom: -20px;
           
        }
    }
}

@media screen and (max-width:995px) {
    .container{
        padding: 0px 30px;
    }
    #dr{
        padding: 50px 0px;
        .dr{
           
            .dr-img{
                width: 50%;
                bottom: 0px;
                margin:-50px 0 ;
            }
        }
    }
}

