#help {
    padding: 50px 0px;

    .help {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .help-text {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 30px;

            h4 {
                font-size: $fontSize1;
                color: $color4;
                font-weight: 700;
            }

            h2 {
                font-size: 3vw;
                font-weight: bold;
            }
            .lorem{
                opacity: .7;
                font-size: 16px;
            }
            .txt2 {
                display: flex;
                justify-content: flex-start;
                gap: 20px;

                >div {
                    display: flex;
                    gap: 18px;

                    h4 {
                        cursor: pointer;
                        font-size: 20px;
                    }

                    i {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 20px;
                        background-color: $color1;
                        color: white;
                        cursor: pointer;
                    }

                    >div {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }

        .help-img {
            width: 50%;

            img {
                border-radius: 25px;

            }
        }
    }
}

@media screen and (max-width:1096px) {
    #help{
        .help{
          .help-text{
            width: 40%;
          }
          .help-img{
            width: 45%;
          }
        }
}
}

@media screen and (max-width:832px) {
    #help{
        .help{
            flex-direction: column;
            .help-img, .help-text{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width:645px) {
    #help{
        .help{
           .help-text{
            .txt2{
                flex-direction: column;
            }
           }
        }
    }
}