section{
    #okey{
        height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .okey{
        width: 400px;
        height: 400px;
        background-color: #4851d5;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        color: white;

        i{
            font-size: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        button{
            width: 150px;
            padding: 15px 0px;
            background-color:rgb(139, 145, 248);
            color: white;
            font-size: 20px;
            border: 2px dashed white;
            border-radius: 15px;
        }

      }
    }
}