#name{
    .name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        h1{
            font-size: 45px;
        }
    }
}


@media screen and (max-width:660px) {
    #name{
        .name{
             .pageerr{
                width: 200px;
             }
        }
    }
}

