#form-box {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 102, 0.6), rgba(0, 0, 102, 0.6)), url("../image/cheerful-medics-looking-at-camera-in-clinic-ZUQM8ET-1024x683.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .form-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        width: 800px;
        max-width: 800px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        padding: 50px 60px;
        text-align: center;

        .signup-cont {
            border-right: 2px dashed $color1;
            padding-right: 45px;
        }

        h1 {
            font-size: 30px;
            margin-bottom: 60px;
            color: $color5;
            position: relative;

            &::after {
                content: "";
                width: 30px;
                height: 4px;
                border-radius: 3px;
                position: absolute;
                background: $color5;
                bottom: -12px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .input-group {
            height: 260px;

            .input-field {
                background: #eaeaea;
                margin: 15px 0;
                border-radius: 3px;
                display: flex;
                align-items: center;
                max-height: 65px;
                transition: max-height 0.5s;
                overflow: hidden;

                input {
                    width: 100%;
                    border: 0;
                    outline: 0;
                    background-color: transparent;
                    padding: 18px 50px;
                }

                i {
                    margin-left: 15px;
                    color: #999;
                }
            }

            p {
                text-align: left;
                font-size: 13px;

                a {
                    color: $color5;
                }
            }
        }

        .btn-field {
            width: 100%;
            display: flex;
            justify-content: space-between;

            button {
                flex-basis: 48%;
                background-color: $color5;
                color: #fff;
                height: 40px;
                border: 0;
                outline: 0;
                cursor: pointer;
                border-radius: 20px;
            }
        }
    }

}

@media screen and (max-width:850px) {
    #form-box {
        padding: 40px 0px;

        .form-box {
            flex-direction: column;
            justify-content: flex-start;
            max-width: 500px;
            padding: 30px 16px;

            .signup-cont {
                border-right: none;
                padding-right: 0px;
            }
        }
    }
}

@media screen and (max-width:540px) {
    #form-box {
        .form-box {
            max-width: 300px;
            padding: 20px;
        }
    }
}